.section {
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5em;
  padding:2em;
  text-align: center;
}

.container {
  margin-top:2em; 
  display: grid;
  grid-template-columns: 20em 20em 20em;
  column-gap: 1em;
  row-gap: 1em;
  justify-content: center;
}