<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is known as your "deployment descriptor". Your deployment descriptor describes
how your web-aware application should be deployed to a server. It details the specific
endpoints (URLs) the client can use to access specific resources. -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>com.revature.web.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssociatePost</servlet-name>
    <servlet-class>com.revature.web.AssociatePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssociatePost</servlet-name>
    <url-pattern>/associate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestParametersServlet</servlet-name>
    <servlet-class>com.revature.web.RequestParametersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestParametersServlet</servlet-name>
    <url-pattern>/parameters</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllAssociatesServlet</servlet-name>
    <servlet-class>com.revature.web.AllAssociatesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllAssociatesServlet</servlet-name>
    <url-pattern>/associates/all</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cookies</servlet-name>
    <servlet-class>com.revature.web.Cookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookies</servlet-name>
    <url-pattern>/cookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>com.revature.web.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalidateCookies</display-name>
    <servlet-name>InvalidateCookies</servlet-name>
    <servlet-class>com.revature.web.InvalidateCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidateCookies</servlet-name>
    <url-pattern>/invalidate-cookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpSessionManagement</display-name>
    <servlet-name>HttpSessionManagement</servlet-name>
    <servlet-class>com.revature.web.HttpSessionManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSessionManagement</servlet-name>
    <url-pattern>/http-session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalidateSession</display-name>
    <servlet-name>InvalidateSession</servlet-name>
    <servlet-class>com.revature.web.InvalidateSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidateSession</servlet-name>
    <url-pattern>/invalidate-session</url-pattern>
  </servlet-mapping>
</web-app>